body{
    /* background-color: grey; */
    margin: 0;
    padding: 0;
}




.background{
width: 100vw;
height: 100vh;

/* height:100vw; */
display: flex;
justify-content: center;
align-items: center;
}

.btn{
    margin:1rem;
    padding: 0.5rem;
    width: 100px;
}